# Build outputs
dist/
www/
loader/

# Dependencies
node_modules/

# Coverage
coverage/

# StencilJS
.stencil/

# Logs
*.log
log.txt

# Temporary files
*.tmp
*.tmp.*
*~

# Cache
.eslintcache

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]

# OS files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Environment
.env
